@model QuanLySach.Models.Sach

@{
    ViewData["Title"] = "Delete";
}

<h3>Bạn có chắc rằng muốn xóa cuốn sách này ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Mã sách:</dt>
        <dd class="col-sm-9">@Model.Masach</dd>

        <dt class="col-sm-3">Mã xuất bản:</dt>
        <dd class="col-sm-9">@Model.Maxb</dd>

        <dt class="col-sm-3">Mã loại:</dt>
        <dd class="col-sm-9">@Model.Maloai</dd>

        <dt class="col-sm-3">Tên sách:</dt>
        <dd class="col-sm-9">@Model.Tensach</dd>

        <dt class="col-sm-3">Tên tác giả:</dt>
        <dd class="col-sm-9">@Model.Tacgia</dd>
    </dl>
    
    <form asp-action="Delete">
        <input asp-for="Masach" type="hidden"/>
        <input type="submit" value="Xóa" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-primary">Quay lại danh sách</a>
    </form>
</div>
